<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
									 http://www.springframework.org/schema/beans/spring-beans-3.1.xsd 
									 http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
									 http://www.springframework.org/schema/aop 
									 http://www.springframework.org/schema/aop/spring-aop-4.0.xsd" xmlns:tx="http://www.springframework.org/schema/tx">
	
	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="url" value="jdbc:mysql://localhost:3306"></property>
		<property name="username" value="root"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/speedbook/model/User.hbm.xml</value>
				<value>com/speedbook/model/Loganderror.hbm.xml</value></list>
		</property></bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	<!-- 以上是hibernate的配置！！ -->
	<bean id="logAspect" class="com.speedbook.logAspect.LogAspect"/>		
	<bean id="userDao" class="com.speedbook.dao.UserDao"/>		
	<bean id="userService" class="com.speedbook.service.UserService"/>		
	<bean id="loganderrorDao" class="com.speedbook.dao.LoganderrorDao"/>		 
	<bean id="loganderrorService" class="com.speedbook.service.LoganderrorService"/>
	<aop:aspectj-autoproxy/>	
</beans>